<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            Check out <a href='https://www.reddit.com/r/design' target="_blank">Reddit/Design</a> for some awesome design articles!
        </div>
    </div>
</footer>